In [2]:
import pandas as pd

In [3]:
# df = pd.read_csv('/Users/pr158admin/Desktop/Practical Data Science/Exercises/Big_data/global_climate_data/ghcnd_daily.csv')

In [4]:
df1 = pd.read_csv('/Users/pr158admin/Desktop/Practical Data Science/Exercises/Big_data/global_climate_data/ghcnd_daily.csv', nrows = 200)
df1.head(5)

,id,year,month,element,value1,mflag1,qflag1,sflag1,value2,mflag2,...,qflag29,sflag29,value30,mflag30,qflag30,sflag30,value31,mflag31,qflag31,sflag31
0,ACW00011604,1949,1,TMAX,289,NaN,NaN,X,289,NaN,...,NaN,X,272,NaN,NaN,X,272,NaN,NaN,X
1,ACW00011604,1949,2,TMAX,267,NaN,NaN,X,278,NaN,...,NaN,NaN,-9999,NaN,NaN,NaN,-9999,NaN,NaN,NaN
2,ACW00011604,1949,3,TMAX,272,NaN,NaN,X,289,NaN,...,NaN,X,278,NaN,NaN,X,267,NaN,NaN,X
3,ACW00011604,1949,4,TMAX,278,NaN,NaN,X,283,NaN,...,NaN,X,289,NaN,NaN,X,-9999,NaN,NaN,NaN
4,ACW00011604,1949,5,TMAX,283,NaN,NaN,X,283,NaN,...,NaN,X,294,NaN,NaN,X,300,NaN,NaN,X

In [5]:
chunk = pd.read_csv('/Users/pr158admin/Desktop/Practical Data Science/Exercises/Big_data/global_climate_data/ghcnd_daily.csv', chunksize=10000000 )

final_chunks = list()
for data in chunk:
    weather_stations = ['AR000087692', 'AR000087065', 'KZ000029807' 'USC00050848']
    final_chunks.append(data.loc[data['id'].isin(weather_stations)].copy())

/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_19110/4015824866.py:4: DtypeWarning: Columns (6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,66,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106,107,110,111,114,115,118,119,122,123,126,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for data in chunk:
/var/folders/5n/zdsqqtvs4ml7dvhr54rp68x00000gr/T/ipykernel_19110/4015824866.py:4: DtypeWarning: Columns (5,6,7,9,10,11,13,14,15,17,18,19,21,22,23,25,26,27,29,30,31,33,34,35,37,38,39,41,42,43,45,46,47,49,50,51,53,54,55,57,58,59,61,62,63,65,66,67,69,70,71,73,74,75,77,78,79,81,82,83,85,86,87,89,90,91,93,94,95,97,98,99,101,102,103,105,106,107,109,110,111,113,114,115,117,118,119,121,122,123,125,126,127) have mixed types. Specify dtype option on import or set low_memory=False.
  for data in chunk:

In [6]:
df = pd.concat(final_chunks)

In [7]:
df.head(5)

,id,year,month,element,value1,mflag1,qflag1,sflag1,value2,mflag2,...,qflag29,sflag29,value30,mflag30,qflag30,sflag30,value31,mflag31,qflag31,sflag31
59111,AR000087065,1956,4,TMAX,244,NaN,NaN,G,266,NaN,...,NaN,G,264,NaN,NaN,G,-9999,NaN,NaN,NaN
59112,AR000087065,1956,5,TMAX,242,NaN,NaN,G,249,NaN,...,NaN,G,234,NaN,NaN,G,140,NaN,NaN,G
59113,AR000087065,1956,6,TMAX,196,NaN,NaN,G,244,NaN,...,NaN,G,134,NaN,NaN,G,-9999,NaN,NaN,NaN
59114,AR000087065,1956,7,TMAX,144,NaN,NaN,G,141,NaN,...,NaN,G,331,NaN,NaN,G,262,NaN,NaN,G
59115,AR000087065,1956,8,TMAX,236,NaN,NaN,G,211,NaN,...,NaN,NaN,314,NaN,NaN,G,140,NaN,NaN,G